<h2><%= t(:edit_page) -%></h2>
<% form_for(@page, :url => admin_page_path(@page), :html => { :multipart => true }) do |f| %>
  <%- field_set_tag do -%>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="bs">
      <%= f.submit t(:update) %>&nbsp;&nbsp;- <%= t(:or) -%> -&nbsp;&nbsp;<%= link_to(t(:cancel), safe_location(admin_pages_path)) %>
    </div>
  <%- end -%>
<% end %>
