<%- content_for :javascripts do -%>
<%= javascript_include_tag(admin_pdfs_path, :format => :js) %>
<%- end -%>

<h2><%= t(:listing_pdfs) -%></h2>
<p>
  <%= link_to(t(:upload_pdfs), new_admin_pdf_path) -%> | <%= link_to(t(:edit_selected), '#', :id => 'edit_selected') -%> | <%= link_to(t(:destroy_selected), '#', :id => 'delete_selected') -%>
</p>
<% if @pdfs.blank? %>
<p>
  <%= t(:no_pdfs) -%>
</p>
<% else %>
<table class="admin_format">
  <tr>
    <th></th>
	  <th><%= sort_bar([:name, :file_file_name, :user_id], '</th><th>') %></th>
	  <th><%= t('activerecord.attributes.pdf.pages') -%></th>
    <th><%= t(:options) -%></th>
  </tr>
  <%- reset_cycle -%>
  <%= render @pdfs %>
</table>
<%= will_paginate @pdfs %>
<%- end -%>