<%= f.error_messages %>
<div class="fs">
  <%= f.label :email %>
  <%= f.text_field :email, :size => 60 %>
</div>
<div class="fs">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, :size => 60 %>
</div>
<div class="fs">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, :size => 60 %>
</div>
<div class="fs">
  <%= f.label :phone %>
  <%= f.text_field :phone, :size => 60 %>
</div>