<h2><%= t(:edit_contact) -%></h2>
<% form_for(@contact, :url => admin_contact_path(@contact)) do |f| %>
  <%- field_set_tag do -%>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="bs">
      <%= f.submit t(:update) %>&nbsp;&nbsp;- <%= t(:or) -%> -&nbsp;&nbsp;<%= link_to(t(:cancel), safe_location(admin_contacts_path)) %>
    </div>
  <%- end -%>
<% end %>
