<%- if @page.heading.present? -%>
<h2><%= @page.heading %></h2>
<%- end -%>
<%= @page.content %>

<% form_tag (contact_path) do %>
  <div class="fs">
		<label for="contact_type"><%= t(:contact_message_type) -%>:</label>
		<%= select_tag "contact[type]", options_for_select([t(:contact_option_1), t(:contact_option_2), t(:contact_option_3)], (params['contact'] ? params['contact'][:type] : nil) ) %>
  </div>
	<div class="fs">
		<label for="contact_name"><%= t(:contact_name) -%>:</label>
		<input id="contact_name" name="contact[name]" size="30" type="text" value="<%= get_contact_name %>" />
	</div>
	<div class="fs">
		<label for="contact_email"><%= t(:contact_email) -%>:</label>
		<input id="contact_email" name="contact[email]" size="30" type="text" value="<%= get_contact_email %>" />
	</div>
	<div class="fs">
		<label for="contact_message"><%= t(:contact_message) -%>:</label>
		<textarea cols="40" id="contact_message" name="contact[message]" rows="10"><%= params['contact'] ?  params['contact'][:message] : '' %></textarea>
	</div>
	<div class="bs">
	  <%= submit_tag I18n.translate(:contact_submit, :app_name => Setting.app_name) %>
  </div>
<% end %>