<h2><%= t(:new_user) -%></h2>
<% form_for(@user, :url => admin_users_path, :html => { :multipart => true }) do |f| %>
  <%- field_set_tag do -%>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="bs">
      <%= f.submit t(:create) %>&nbsp;&nbsp;- <%= t(:or) -%> -&nbsp;&nbsp;<%= link_to(t(:cancel), safe_location(admin_users_path)) %>
    </div>
  <%- end -%>
<% end %>