<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= @page_title || Setting.page_title %></title>
    <meta name="description" content="<%= @page_description || Setting.meta_description -%>" />
    <meta name="keywords" content="<%= @page_keywords || Setting.meta_keywords -%>" />
    <%= stylesheet_link_tag 'main' %>
    <%= yield :stylesheets if @content_for_stylesheets %>
  </head>
  <body id="<%= controller.controller_name -%>" class="<%= controller.controller_name -%>-<%= controller.action_name -%> <%= controller.action_name -%>">
    <div id="header">
      <div class="logo"><strong><%= link_to("#{Setting.app_name}", root_path) %></strong></div>
      <div class="reset"></div>
    </div>
    <%= render_flash_messages %>
    <div id="content">
      <%= yield %>
    </div>
    <%= javascript_include_tag :defaults, :cache => true %>
    <%= yield :javascripts if @content_for_javascripts %>
    <%= include_tiny_mce_if_needed %>
  </body>
</html>